{{#if success}}
<div class="alert alert-warning" role="alert" style="margin: 30px 0 ;">
<div>
  <p>你有{{this.ingot}}顆元寶, {{this.ticket}}張千機卷!</p>
</div>
{{success}}
</div>
<a href="/" class="btn btn-light">再算一次!</a>
{{/if}}

{{#if error}}
<div class="alert alert-danger" role="alert" style="margin: 30px 0 ;">
  {{error}}
</div>
{{/if}}